In [ ]:
"""Checking the class """

In [1]:
path = "/home/poonam/artivatic/freeTime/BrandExposure/data/train.csv"

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(path)

In [4]:
data.head()

        filename  width  height  class  xmin  ymin  xmax  ymax
0  frame3085.jpg   1280     720  pepsi     4     4    60    64
1  frame3085.jpg   1280     720  pepsi   212    63   240    88
2  frame3050.jpg   1280     720  pepsi   212    54   243    91
3  frame3135.jpg   1280     720  pepsi   212    63   243    93
4   frame504.jpg   1280     720  pepsi   199    59   245    95

In [5]:
data['class'].value_counts()

pepsi       1375
hotstar      157
yes bank     140
vodafone     124
gulf          26
aircel        15
huawei         7
Name: class, dtype: int64